

/* Copyright Adam Gedney 2/8/13 */

/*--------------------------------------Start CSS Reset------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, cite, code,del, em, img, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ul {
	list-style: none;
}







/*--------------------------------------End CSS Reset/ Start General-----------------------------------*/


body{
	background: #e6e6e6 url(../images/bg.jpg) repeat;
	color: #6e6e6e;
	font-size: 62.5%;
	font-family: "helvetica neue", arial, sans-serif;
	font-weight: 100;
	text-align: left;
	margin: 0 auto 0 auto;
}


h2, h3, h4, h5, h6{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: rgba(255,114,0,.9);
	font-size: 3em;
	font-weight: 300;
	font-variant: small-caps;
	text-transform: uppercase;
	vertical-align: bottom;
	margin: 70px 0 10px 0;
	border-bottom: dashed 2px #d7d7d7;
}

p{
	font: normal normal 200 1.7em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-indent: 25px;
	line-height: 2;
	letter-spacing: 1px;
	word-spacing: 2px;
	margin-top: 20px;
}

ol{
	margin-top:20px;
}

ol li{
	font-size: 1.9em;
	line-height: 2;
}

.corrected{
	text-decoration: line-through;
	font-style: italic;
}






/*--------------------------------------End General / Start Header--------------------------------------*/

#header{
	background: rgba(255,114,0,.9) url('../images/nav.png') repeat-x;
	height: 60px;
	padding: 0 0 10px 0;
}

#header h1{
	font-family: 'Lobster', cursive;
	color: #61380B;
	font-size: 5em;
	
		-ms-text-shadow: 1px 1px 2px #8A4B08;
	   -moz-text-shadow: 1px 1px 2px #8A4B08;
	 -khtml-text-shadow: 1px 1px 2px #8A4B08;
		 -o-text-shadow: 1px 1px 2px #8A4B08;
	-webkit-text-shadow: 1px 1px 2px #8A4B08;
			text-shadow: 1px 1px 2px #8A4B08;
			
	width: 200px;
	float: left;
	margin: 0 0 0 10px;
}

#header a{
	color: #f2f2f2;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	list-style-type: none;
	text-decoration: none;
	font-size: 2.5em;
}

#header a:visited{
	color: #f2f2f2;
}

#header a:hover{
	color: #61380b;
}

#header a:active{
	color: #000;
}





/*--------------------------------------Navigation------------------------------------------------------*/


#nav{
	width: 365px;
	float: right;
	margin: 25px auto 40px auto;
}

#nav li{
	display: inline;
	margin-right: 40px;
}





/*--------------------------------------Featured/Containers--------------------------------------------------------*/


#featured{
	background-color: #f2f2f2;
	width: 100%;
	height: 410px;
	margin-bottom: 80px;
	border-bottom: solid 2px #bdbdbd;
	padding-top: 100px;
	
		-ms-box-shadow: inset 0 8px 6px -6px #a4a4a4;
	   -moz-box-shadow: inset 0 8px 6px -6px #a4a4a4;
	 -khtml-box-shadow: inset 0 8px 6px -6px #a4a4a4;
		 -o-box-shadow: inset 0 8px 6px -6px #a4a4a4;
	-webkit-box-shadow: inset 0 8px 6px -6px #a4a4a4;
			box-shadow: inset 0 8px 6px -6px #a4a4a4;
}

#featuredimg{
	clear: both;
	background-color: #06080a;
	width: 897px;
	height: 299px;
	margin: auto;
	opacity: .9;
	border: solid 5px #61380B;
	
		-ms-box-shadow: 6px 6px 6px #424242;
	   -moz-box-shadow: 6px 6px 6px #424242;
	 -khtml-box-shadow: 6px 6px 6px #424242;
		 -o-box-shadow: 6px 6px 6px #424242;
	-webkit-box-shadow: 6px 6px 6px #424242;
			box-shadow: 6px 6px 6px #424242;
}

#featuredimg img{
	width: 532px;
	margin-left: 184px;
}


.container{
	width: 900px;
	margin: 0 auto 0 auto;
	
}

#contentbg p, h2{
	width: 900px;
	margin: 20px auto 0 auto;
}

#contentbg{
	background-color: #f2f2f2;
	width: 100%;
	height: 400px;
	margin: 60px 0 60px 0;
	padding: 20px 0 60px 0;
	border-bottom: solid 2px #bdbdbd;
	border-top: solid 2px #bdbdbd;
}


/*--------------------------------------Columns---------------------------------------------------------*/


#columns{
	width: 900px;
	overflow: hidden;
	margin-top: 20px;
}

#columns p, ol li{
	line-height: 1.6;
}

#column1{
	background-color: rgba(242,242,242,.7);
	width: 265px;
	height: 600px;
	float: left;
	padding: 0 10px 10px 10px;
	border-radius: 10px;
}

#column1:hover{
	background-color: rgba(206,115,50,.1);
}

#column2{
	background-color: rgba(242,242,242,.7);
	width: 265px;
	height: 600px;
	float: left;
	padding: 0 10px 10px 10px;
	border-radius: 10px;
	margin-left: 60px;
}

#column2:hover{
	background-color: rgba(206,115,50,.1);
}

#column3{
	background-color: rgba(242,242,242,.7);
	width: 265px;
	height: 600px;
	float: left;
	padding: 0 10px 10px 10px;
	border-radius: 10px;
	margin-left: 20px;
}

#column3:hover{
	background-color: rgba(206,115,50,.1);
}

#columns ol{
	margin-top: 20px;
}

#columns li{
	margin-left: 25px;
}




/*--------------------------------------Footer----------------------------------------------------------*/


#footer{
	background-color: #585858;
	width: 100%;
	height: 100px;
	margin-top: 40px;
	padding: 20px 0 50px 0;
	border-top: solid 2px #696969;
}

#footercontent{
	width: 367px;
	margin: 0 auto 0 auto;
}

#footer h3{
	margin: 0;
	font-size: 2.4em;
	border-bottom: dashed 2px #747474;
}

#footer p{
	text-indent: 15px;
	font-size: 1.5em;
}