

/* Copyright Adam Gedney 2/8/13 */

/*--------------------------------------Start CSS Reset------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, cite, code,del, em, img, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ul {
	list-style: none;
}







/*--------------------------------------End CSS Reset/ Start General-----------------------------------*/

html{
	background: url(../images/havok.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


body{
	height: 100%;
	color: #e9e9e9;
	font-size: 62.5%;
	text-align: left;
}


h2, h3, h4, h5, h6{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #00deff;
	font-size: 2em;
	font-weight: 100;
	letter-spacing: 5px;
	text-transform: uppercase;
	margin: 70px 0 5px 0;
	border-bottom: solid 1px #d7d7d7;
}

p{
	font: normal normal 100 1.6em/1.65em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	letter-spacing: 1.5px;
	word-spacing: 2px;
	margin-top: 20px;
}

ol{
	margin-top:20px;
}

ol li{
	font-size: 1.9em;
	line-height: 2;
}



#release li:hover, #mix li:hover, a:hover{
	opacity: .5;
}

img{
	max-width: 100%;
}


/*--------------------------------------End General / Start content---------------------------------*/


#wrapper{
	background-color: rgba(0, 0, 0, .9);
	width: 260px;
	height: 4000px;
	margin: 0;
	padding-top: 30px;
	box-shadow: 8px 0 16px #000;

}

h2.release{
	width: 200px;
	margin: 20px 0 0 30px;
}

#content{
	width: 200px;
	height: 450px;
	margin: 0 0 0 20px;

}

#release{
	height: 525px;
	width: 200px;
	margin: 10px 0 0 0;
	float: left;
}

#release img, #mix img{
	width: 90px;
	height: 90px;
}

#release ul{
	overflow: hidden;
}

#release li{
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	box-shadow: 2 2px 4px #000;
}

#mix{
	width: 200px;
	margin: 0 0 30px 0;
	float: left;
}

#mix h2{
	width: 200px;
	margin: 30px 0 15px 0;
}

h2.mixhead{
	margin: 0;
}

#mix ul{
	overflow: hidden;
}

#mix li{
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	box-shadow: 2 2px 4px #000;
}

h2.about-title{
	clear: both;
	display: block;
	margin: 30px 0 0 0;
}




/*--------------------------------------End Content / Start Footer----------------------------------*/

#logo{
	width: 510px;
	height: 259px;
	margin: 0 auto;
}

#logo-inner{
	position: fixed;
	bottom: 0;
	margin: 0 auto;
}

footer{
	background: #000;
	opacity: .9;
	width: 100%;
	height: 55px;
	position: fixed;
	bottom: 0;
	border-top: solid 1px #777;
	box-shadow: 0 -2px 4px #000;
}

#footer-inner{
	width: 660px;
	margin: 0 auto;
}

#labels{
	margin: 8px 0 0 20px;
	float: left;

}

#labels ul{
	overflow: hidden;

}

#labels li{
	float: left;
	padding-right: 5px;

}

#social{
	height: 86px;
	width: 230px;
	margin: 9px 35px 0 35px;
	float: left;
}

#social ul{
	overflow: hidden;
}

#social li{
	float: left;
	padding-right: 5px;
}


/*---------------------------------------------@media max-width 960px--------------------------*/

@media only screen and (max-width: 960px){


html{
	background: #000;
	background-image: none;
}

#logo{
	width: 410px;
	height: 208px;

}

#logo img{
	width: 410px;
	height: 208px;
	margin-bottom: 18px;
}

#wrapper{
	background-color: rgba(0, 0, 0, .1);
	width: 600px;
	height: 1000px;
	margin: 0 auto;
	box-shadow: none;
}

#release{
	height: 400px;
	width: 525px;
	margin: 10px auto 0;
	float: left;
}

h2.release{
	display: block;
	width: 100%;
	margin: 20px auto 0;
}

#release li img{
	width: 165px;
	height: 165px;
}

#mix{
	width: 525px;
	margin: 0 auto 30px;
	float: left;
}

#mix h2{
	width: 100%;
	padding-right: 50px;
}

#mix li img{
	width: 165px;
	height: 165px;
}

}

/*-----------End device query----------*/

@media only screen and (max-width: 321px){



#logo{
	width: 310px;
	height: 108px;
	position: absolute;
	top: 0;

}

#logo-inner{
	position: static;
	bottom: 0;
	margin: 0 auto;
}

#logo img{
	width: 310px;
	height: 108px;
	margin-bottom: 18px;
}

#wrapper{
	background-color: rgba(0, 0, 0, .1);
	width: 300px;
	height: 1000px;
	margin: 108px auto 0;
	box-shadow: none;
}

#release{
	height: 450px;
	width: 300px;
	margin: 10px auto 0;
	float: left;
}

h2.release{
	display: block;
	width: 80%;
	margin: 20px auto 0;
}

#release li img{
	width: 95px;
	height: 95px;
}

#mix{
	width: 300px;
	margin: 0 auto 30px;
	float: left;
}

#mix h2{
	width: 68%;
	padding-right: 50px;
}

#mix li img{
	width: 95px;
	height: 95px;
}

footer{
	width: 100%;
	height: 55px;
}

#footer-inner{
	width: 320px;
	margin: 0 auto;
}

#labels{
	display: none;
}

#social li{
	margin-right: 3px;
}

#social li:last-child{
	margin-right: 0;
}

}






