

/* Copyright Adam Gedney 2/8/13 */

/*--------------------------------------Start CSS Reset------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, cite, code,del, em, img, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ul {
	list-style: none;
}







/*--------------------------------------End CSS Reset/ Start General-----------------------------------*/

html{ 
	background: url(../images/havok.jpeg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


body{
	height: 100%;
	color: #6e6e6e;
	font-size: 62.5%;
	font-family: "helvetica neue", arial, sans-serif;
	font-weight: 100;
	text-align: left;
}


h2, h3, h4, h5, h6{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #00deff;
	font-size: 2em;
	font-weight: 100;
	letter-spacing: 5px;
	text-transform: uppercase;
	margin: 70px 0 5px 0;
	border-bottom: solid 1px #d7d7d7;
}

p{
	font: normal normal 200 1.7em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-indent: 25px;
	line-height: 2;
	letter-spacing: 1px;
	word-spacing: 2px;
	margin-top: 20px;
}

ol{
	margin-top:20px;
}

ol li{
	font-size: 1.9em;
	line-height: 2;
}








/*--------------------------------------End General / Start content---------------------------------*/


#wrapper{
	background-color: rgba(0, 0, 0, .9);
	width: 250px;
	height: 4000px;;
	margin: 0;
	padding-top: 30px;
	box-shadow: 8px 0 16px #000;
	
}

h2.release{
	width: 200px;
	margin: 30px 0 0 30px;
}

#content{
	width: 200px;
	height: 450px;
	margin: 0 0 0 20px;

}

#release{
	height: 200px;
	width: 200px;
	margin: 20px 0 0 0;
	float: left;
}

#release ul{
	overflow: hidden;
}

#release li{
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	box-shadow: 2 2px 4px #000;
}

#mix{
	width: 200px;
	margin: 0;
	float: left;
}

#mix h2{
	width: 200px;
	margin: 30px 0 15px 0;
}

li.mixhead{
	margin: 0;
}

#mix ul{
	overflow: hidden;
}

#mix li{
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	box-shadow: 2 2px 4px #000;
}




/*--------------------------------------End Content / Start Footer----------------------------------*/

#logo{
	width: 410px;
	height: 64px;
	margin: 0 auto;
}

#logo-inner{
	position: fixed;
	bottom: 0;
	margin: 0 auto 100px auto;
}

footer{
	background: #000;
	opacity: .9;
	width: 100%;
	height: 55px;
	position: fixed;
	bottom: 0;
	border-top: solid 1px #777;
	box-shadow: 0 -2px 4px #000;
}

#footer-inner{
	width: 660px;
	margin: 0 auto;
}

#labels{
	margin: 8px 0 0 20px;
	float: left;
	
}

#labels ul{
	overflow: hidden;
	
}

#labels li{
	float: left;
	padding-right: 5px;
	
}

#social{
	height: 86px;
	width: 230px;
	margin: 9px 35px 0 35px;
	float: left;
}

#social ul{
	overflow: hidden;
}

#social li{
	float: left;
	padding-right: 5px;
}















